/*Main Styles*/

/*set the background gradient and foreground colors to certain shades of green*/
body {
	background: #f6f8f9; /* Old browsers */
	background: linear-gradient(135deg,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
	color: #007F07;
	width: 100%;
}

/* puts box around content, box shadow, rounded corners, border*/
#page {
	color: #027500;
	border: 0.125em ridge #007F07;
	border-radius: 0.313em;
	margin: 5%;
	padding: 5%;
	box-shadow: 0.125em 0.125em 0.250em;
	background: url("../Images/acer.gif") repeat-x top;
}

/* puts a side bar on with left border, sets width, padding line height and margins*/
aside{
	float: right;
	width:10%;
	border-left: .063em solid #007F07;
	padding: 1%;
	height: 100%;
	margin-top: 3%;
	margin-left: 2%;
	line-height: 1.5em;
}

/*changes the first heading to center text, sets color, shadow, line height, font*/
#Top {
	width: 98%;
	height: 1%;
	margin: 1% 0;
	text-align: center;
	padding: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 2.5em;
	line-height: 2.75em;
	font-family: 'Vollkorn', serif;
	color: #000;
	text-shadow: 0.063em 0.063em #454545;
}
 /* floats next to each other*/
#first-paragraph, #second-paragraph {
	width: 40%;
	float: left;
	padding: 1%;
	margin: 1% auto;
}

/*sets width and margin and collapses border spacing*/
table{
	width: 90%;
	margin: 3% 10%;
	border-spacing: 0;
}

/*transforms table headings into uppercase*/
th{
	text-transform: uppercase;
}

/*font size, padding inside cells, centers text and puts borders on table cells*/
th, td{
	padding: 1.5%;
	font-size: 1em;
	text-align: center;
	border: .063em solid #FFF;
}

/*puts a highlight on table row as cursor moves over*/
tr:hover {
		background-color: #f6f8f9;
}

/*clears to the left so that this section starts on new line*/
#third-paragraph {
	clear: left;
	
}

/*changes the unordered list to have a circle instead of a dot, sets color*/
ul {
	width: 50%;
	margin: 5% 0;
	padding:0 7em;
	list-style-type: circle;
	color: #00E530;
	background: url("../images/navigate2.png") no-repeat left center;
}

/* sets size, font, color, text shadow*/
h2 {
	width: 98%;
	margin: 1%;
	font-style: normal;
	font-weight: normal;
	font-size: 2em;
	line-height: 2em;
	font-family: 'Vollkorn', serif;
	color: #00FF0E;
	text-shadow: 0.063em 0.063em #FFF;
	text-align: justify;
}

/* sets size, font, color*/
h3 {
	width: 98%;
	margin: 1%;
	color: #00FF0E;
	font: 1.5em Georgia, Times, serif;
}

/*applies font and color to all paragraphs*/
p {
	width: 98%;
	margin: 1%;
	font: 1em Georgia, Times, serif;
	color: #007F07;
}

/*sets ordered list to stay in decimal form and sets color*/
ol {
	width: 100%;
	margin: 1% 0px 1%;
	list-style-type: decimal;
	color: #007F07;
}

/*Links*/

/*color for the links within the page*/
.internal-links {
	color: #00E530;
}

/* color lime green and no underline when unactive*/
a:link {
	color: #00FF0E;
	text-decoration: none;
}

/* puts underline underneath a visit link */
a:visited {
	color: #00FF0E;
	text-decoration: underline;
}

/* color lime green and underlined when hovered over*/
a:hover {
	color:#00FF0E;
	text-decoration: underline;
}

/* color white and underlined when being clicked*/
a:active {
	color: #FFF;
}

/* Pictures */
/* changes pictures to block instead of inline gives them margins so that they can be even 
with rest of text*/
figure {
	display: block;
	width: 98%;
	margin: 1%;
}

/*changes the captions on the pictures to be straight text unlike before, gives margins and sets font*/
figcaption {
	width: 98%;
	margin: .5% 0;
	font: .75em Georgia, Times, serif;
	color: #007F07;
}
 /* adds style to entire form*/
form {
	padding:5%;
	margin: 5%;
	font-size:1em;
	color: #007F07;
	border: .063em solid #007F07;
	border-radius: .5em;
	text-align: center;
	background-color: #FFF;
}
/*adds text style and margin to form contents*/
#name, #email, #radio, #age {
	margin:5%;
	font-size: .875em;
	width: 100%;
	float: left;
}

/*adds float to form content without messing up layout*/
#comments {
	width: 100%;
	float: left;
}

/*puts a top border on footer and spaces the footer from page for a better looking layout*/
footer {
 	border-top: .063em solid #007F07;
 	margin-top: 5%;
 	padding-top: 5%;
}
