body {
	font-size: 80%;
	font-family: Arial, Verdana, sans-serif;
	letter-spacing: 0.15em;	
	background-color: #efefef;
	}
		
h1 {
	font-size: 150%;
}

h2 {
	font-size: 133%;
	clear: both;
}

h3 {
	font-size:125%;
}
#navigation {
	list-style-type: none;
	text-align: center;
	width: 625px;
	border-width: 2px 0px 1px;
	border-style: solid;
	border-color: #000;
	padding: 15px;
	margin: 0px auto;
	
	}
	
#navigation {
	margin: 0px 3px;
	display: inline;
}

#content {
	width: 600px;
	margin: 20px auto;
	overflow: auto;
	}
	
a {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	}
	
a:hover, a#current-page {
	color: #cc3333;
	background-color: #ffffff;
	}
	
#page{
	width: 960px;
	border-width: 4px;
	border-style: double;
	border-color: #000;
	padding: 20px;
	margin: 10px auto;
	
}

#logo{
	width: 303px;
	margin: 15px auto 25px
}

#content img {
	float:left;
	margin: 20px;
}

#column1of2, #column2of2 {
	width: 280px;
	float: left;
	margin: 5px;
}

